.env
.env.local
.DS_Store
/build/
logs/
*.log
*.bak
target/
*.rlib
node_modules/
/generated/
assets/private/uploads/
logs.txt
logz.txt
data/dev.db
/data
/grimoire/data
/grimoire/.sqlx/
/cli/coverage/
*.profraw
/freqhole-config.toml

playlistz/

/client/charnel/.vite
/freqhole.net/dist
/freqhole.net/.astro
flatpak/freqhole.deb
/client/charnel/src-tauri/plugins/tauri-plugin-android-media-session/android/build
