.env
.env.local
.DS_Store
/build/
logs/
*.log
target/
*.rlib
node_modules/
/generated/
assets/private/uploads/
logs.txt
logz.txt
data/dev.db
/data
/grimoire/data
/grimoire/.sqlx/
/cli/coverage/
*.profraw
/freqhole-config.toml

/client/charnel/.vite
